
    <form id="userForm" action="/register" method="POST">
 
    <label for="name">email:</label>
    <input type="email" id="name" name="email" value="" required>
    
    <label for="email">password:</label>
    <input type="password" id="email" name="password" value=""  required>
    <button type="submit">submit</button>
  </form>